body { font-size: 16px; }

div.content {
	font-family: Calibri;
	margin: 0px auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
	padding-top: 15px;
	max-width: 800px;
	border: 1px solid ;
	font-size: 130%;
	
	text-align: justify;
	background-image: url("linedpaper.png");
	border-radius: 25px;
	border-color: green;
}


a.top {
	background-color: white;
}

a.continue:link, a.continue:visited {
  background-color: #00802b;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
}


.navigation {
	padding-top: 20px;

}


.spoiler { 
  color: white; 
  background-color:white;
  font-style: italic;
  border-bottom: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

.spoiler:hover { 
	background-color:white; 
	color: black;
	
}

audio {
  float: right;
  margin-top: 0px;
}

div.mainaudio {
  float: right;
  margin-top: 35px;
}

div.centered {
	text-align: center;
}

div.logo {
	text-align: center;
	margin-bottom: 30px;
}

table.pronunciation {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
	padding-bottom: 20px;
}


table.pronunciation td:first-child {
    font-weight: bold;
	padding-right: 50px;
}


table.qpronunciation {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
    text-align: left;
	padding-bottom: 20px;
}

table.qpronunciation td:first-child {
    width: 300px;
	padding-right: 50px;
	padding-bottom: 10px;
}


table.tpronunciation {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
	padding-bottom: 20px;
}


table.tpronunciation td:nth-child(3) {
    font-weight: bold;
	padding-right: 50px;
	font-size: 120%
}

table.tpronunciation td:nth-child(2) {
    padding-left: 30px;
	padding-right: 50px;
	text-align: left;
}


table.parallel {
	align:center;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	padding-top: 0px;
	
	font-size: 100%;
}

table.parallel td {
	width: 50%;
	padding-right: 20px;
	padding-left: 20px;
	vertical-align: top;
}

table.parallel td:first-child {
    border-right: 1px dotted;
	
}



table.explanations {
	align:center;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	font-size: 100%;
}

table.explanations td {
	padding-right: 0px;
	padding-left: 20px;
}

table.explanations td:first-child {
    border-right: 1px dotted;
	width: 500px;
}


h2, h3 {
	font-family: Sofia;
	
}




img.tone {
	display: inline;
	width: 25px;
	vertical-align: text-bottom;
}




.distinct-accent {
    font-weight: bold;
    color:black;
	white-space: nowrap;
}
.with-accent {
    position:relative;     
    display:inline-block;    
}
.with-accent:before {
    content:attr(data-content);
    position:absolute;
    left:0;
    top:0;
    height:0.4em;
    width:100%;
    padding-right:0.1em;
    color:black;
    overflow:hidden;      
}

.with-accent-t1 {
    position: relative;
    display: inline-block;
}
.with-accent-t1:before {
    content: attr(data-content);
    position: absolute;
    left: 0;
    top: 0;
    height: 0.4em;
    width: 100%;
    padding-right: 0.1em;
    color: red;
    overflow: hidden;
}

.with-accent-t2 {
    position: relative;
    display: inline-block;
}
.with-accent-t2:before {
    content: attr(data-content);
    position: absolute;
    left: 0;
    top: 0;
    height: 0.4em;
    width: 100%;
    padding-right: 0.1em;
    color: orange;
    overflow: hidden;
}


.with-accent-t3 {
    position: relative;
    display: inline-block;
}
.with-accent-t3:before {
    content: attr(data-content);
    position: absolute;
    left: 0;
    top: 0;
    height: 0.4em;
    width: 100%;
    padding-right: 0.1em;
    color: #e6e600;
    overflow: hidden;
	
}


.with-accent-t4 {
    position: relative;
    display: inline-block;
}
.with-accent-t4:before {
    content: attr(data-content);
    position: absolute;
    left: 0;
    top: 0;
    height: 0.4em;
    width: 100%;
    padding-right: 0.1em;
    color: green;
    overflow: hidden;
}


.with-accent-t5 {
    position: relative;
    display: inline-block;
}
.with-accent-t5:before {
    content: attr(data-content);
    position: absolute;
    left: 0;
    top: 0;
    height: 0.4em;
    width: 100%;
    padding-right: 0.1em;
    color: cyan;
    overflow: hidden;
}


.with-accent-t6 {
    position: relative;
    display: inline-block;
}
.with-accent-t6:before {
    content: attr(data-content);
    position: absolute;
    left: 0;
    top: 0;
    height: 0.4em;
    width: 100%;
    padding-right: 0.1em;
    color: blue;
    overflow: hidden;
}


.with-accent-t7 {
    position: relative;
    display: inline-block;
}
.with-accent-t7:before {
    content: attr(data-content);
    position: absolute;
    left: 0;
    top: 0;
    height: 0.4em;
    width: 100%;
    padding-right: 0.1em;
    color: purple;
    overflow: hidden;
}



ol {
  counter-reset: item;
  margin-left: 0;
  padding-left: 0;
}

li {
  display: block;
  margin-left: 2em;
}

li::before {
  display: inline-block;
  content: counter(item) "— ";
  counter-increment: item;
  width: 2em;
  margin-left: -2em;
}