body {
  font-family: Calibri, sans-serif;
  font-size: 20px;
}

* {
  line-height: 125%;
}

div.content {
  margin: 0px auto;
  padding: 50px;
  padding-top: 52px;
  max-width: 800px;
  text-align: justify;
  background-image: url("linedpaper.png");
  border: 1px solid hsl(120, 50%, 50%);
  border-radius: 25px;
}

audio {
  float: right;
  height: 50px;
  position: relative;
  z-index: 99;
  margin-left: 25px;
}

p {
  margin: 25px 0;
}

audio + p {
  margin-top: 0;
}

.logo img {
  padding: 25px;
  width: 400px;
  display: block;
  margin: 0 auto;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

footer.navigation {
  text-align: center;
}

a.continue {
  background-color: #00802b;
  color: white;
  padding: 25px;
  margin: 12.5px;
  text-decoration: none;
  display: inline-block;
}

a.continue.but-dont {
  background-color: gray;
}

.nav-lessons {
  text-align: center;
  font-size: 16px;
  margin-bottom: 15px;
}

.nav-lessons a[href], table a[href] {
  color: #00802b;
}

.nav-lessons a[href]:hover,  table a[href]:hover,
.nav-lessons a[href]:active, table a[href]:active,
.nav-lessons a[href]:focus,  table a[href]:focus {
  color: inherit;
}

table a[href] {
  font-weight: normal;
  text-decoration: none;
}

.spoiler { 
  color: white; 
  background-color: white;
  font-style: italic;
  border-bottom: 1px solid black;
  padding: 0 0.5em;
}

.spoiler:hover, .spoiler:focus { 
  color: inherit;
}

table.sentences {
  width: 100%;
  margin: 25px auto;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: start;
  counter-reset: sentence;
}

table.sentences td {
  width: 50%;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 3em;
}

table.sentences td:first-of-type {
  font-weight: bold;
}

table.sentences td::before {
  content: counter(sentence) "— ";
  font-weight: normal;
  position: relative;
  display: block;
  height: 0px;
  overflow: visible;
  right: 2.25em;
}

table.sentences tr {
  counter-increment: sentence;
}

table.sentences td + td {
  border-left: 1px dotted gray;
}

table.sentences tr.speaker { counter-increment: sentence 0; }
table.sentences tr.speaker td { font-weight: normal; font-style: italic; padding-top: 8px; }
table.sentences tr.speaker td::before { content: ""; }

h1, h2, h3 {
  margin: 0 0;
  line-height: 100%;
}

h1 {
  display: inline-block;
}

h2, h3 {
  font-family: Sofia;
}

#mainaudio, h1 { margin-top: 10px; }
h1 { font-size: 40px; height: 40px; margin-bottom: 10px; }
h2 { font-size: 30px; padding-bottom: 20px; }
h3 { font-size: 20px; padding-top: 5px;  }

img[src*="/tones/"] {
  display: inline;
  vertical-align: text-bottom;
  height: 1em;
}

.t {
  position: relative;
  display: inline-block;
}

.t:before {
  content: attr(data-content);
  position: absolute;
  left: 0;
  top: 0;
  height: calc(1em / 3);
  padding-right: 0.1em;
  overflow: hidden;
}

.t1:before { color: red;    }
.t2:before { color: orange; }
.t3:before { color: gold;   }
.t4:before { color: green;  }
.t5:before { color: cyan;   }
.t6:before { color: blue;   }
.t7:before { color: purple; }

.spoiler:not(:focus):not(:hover) .t:before {
  color: transparent !important;
}

ul, ol {
  list-style-type: none;
  counter-reset: item;
  margin: 25px 0;
  padding: 0;
}

li {
  margin-left: 2em;
  position: relative;
}

li::before {
  counter-increment: item;
  position: absolute;
  left: -2em;
}

ul li::before {
  content: counter(item) "— ";
}

ol li:nth-child(1)::before  { content: '①'; }
ol li:nth-child(2)::before  { content: '②'; }
ol li:nth-child(3)::before  { content: '③'; }
ol li:nth-child(4)::before  { content: '④'; }
ol li:nth-child(5)::before  { content: '⑤'; }
ol li:nth-child(6)::before  { content: '⑥'; }
ol li:nth-child(7)::before  { content: '⑦'; }
ol li:nth-child(8)::before  { content: '⑧'; }
ol li:nth-child(9)::before  { content: '⑨'; }
ol li:nth-child(10)::before { content: '⑩'; }

li p:first-child {
  margin-top: 0;
}

hr {
  border: none;
  text-align: center;
  padding: 0;
  margin: 25px;
}

hr::before {
  content: '⁂';
}
