<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125924205-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-125924205-1');
    </script>
    <link rel="stylesheet" href="../style.css">
    <link href="https://fonts.googleapis.com/css?family=Sofia|Noto+Sans:400,400i,700,700i&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="icon" type="image/png" href="../favicon-16x16.png">
    <link rel="apple-touch-icon-precomposed" type="image/png" href="../favicon-16x16.png">
    <title>{{ page.title }} — Toaq with Ease</title>
  </head>
  <body class="lesson-{{page.url | remove: 'index' | remove: '/'}}">
    <!--<a class="logo" href="../">
      <img src="../assets/TwE_Logo_small.png" alt="Logo">
    </a>-->
    <header>
      <a href="https://toaq.net"><img src="https://toaq.net/images/logo.png" alt="Return to toaq.net"></a>
      <div>Toaq with Ease</div>
      <div class="nav-lessons">
        {% for lesson in site.lessons %}
          <a {% if page != lesson %} href="..{{ lesson.url | remove: 'index' }}" {% endif %}>{{ lesson.url | remove: 'index' | remove: '/' | replace: '00', 'Intro' }}</a> {% unless forloop.last %}·{% endunless %}
        {% endfor %}
        </div>
    </header>
    {% unless page.delta %}
    <div style="max-width:30em; text-align:center; margin:1em auto; padding:2em; border:2px dashed #ff6600; background:#ff660010">
      This lesson is for the older <a href="https://toaq.me/Versions">Gamma version</a> of the language.<br>
      It has not yet been updated for Toaq Delta.<br>
      A description of the current Toaq Delta is available <a href="https://toaq.net/">here</a>.
    </div>
    {% endunless %}
    <div class="content">
      <main>
        {{content}}
      </main>
      {% if page.collection == "lessons" %}
      <footer class="navigation">
        {% if page.next %}
        <a class="continue" href="..{{ page.next.url | remove: 'index' }}">Continue</a>
        {% else %}
        <a class="continue but-dont" title="Coming soon!">Continue</a>
        {% endif %}
      </footer>
      {% endif %}
    </div>
    <script src="../assets/accents.js"></script>
  </body>
</html>
